:root {
    --white: #ffffff;
    --dark: #353535;
    --primary: #e09600;
    --secundary: #8FC1BE;
}

.roboto {
    font-family: "roboto", sans-serif;

}

html {
    font-family: "roboto", sans-serif;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, var(--secundary), var(--white));
}

header h1 {
    text-align: center;
    font-size: 4rem;
    color: var(--dark);
    font-weight: bolder;

}

@media (max-width: 315px) {
    header h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

header h1 span {
    font-size: 2rem;
}
/* enlaces de la barra de navegación */
/* media query para modificar reglas:
se aplican las reglas que hay dentro de la media query si la ventana del navegador mide un minimo de 480px */


.navegacion {
    /* el punto significa=clase */
    background-color: var(--primary);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;




}

@media (min-width: 480px) {
    .navegacion {
        flex-direction: row;
        justify-content: space-around;
    }

}
.navegacion a {
    padding: 1rem;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
}

.enlace {
    color: #000000;
    text-decoration: none;
}

.banner {
    background-image: url(../img/SEO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}

.section-banner {
    position: absolute;

    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section-banner img {
    width: 2rem;
}

.section-banner p,
.section-banner h2 {
    color: var(--white);
}

.center-vertical {
    display: flex;
    align-items: center;
}

.boton {
    background-color: var(--secundary);
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 480px) {
    .boton {
        width: auto;
    }

}

.container {
    background-color: var(--white);
    padding: 1rem;
    padding-left: 0.3rem;
    border-radius: 0.5rem;
    margin-top: 1rem;

}

@media(min-width: 1200px) {
    .container {
        width: 1100px;
        margin: auto;

    }
}

.shadow {
    box-shadow: 10px 10px 1px 1px rgba(0, 0, 0, 0.37);

}

.servicios {
    display: flex;
    text-align: center;
    border: 1px;
    margin: 1rem;
    flex-direction: column;


}
@media ( min-width: 768px)
{
    .servicios {
        flex-direction: row;
    }
}
section h2 {
    text-align: center;
}

.servicios h3 {
    color: var(--primary);

}

.icono {
    height: 7rem;
    width: 7rem;
    background-color: var(--secundary);
    border-radius: 58%;
    padding: 1rem;

}
/* formulario */
.formulario {
    background-color: var(--primary);
    /* widta ninimo de 80rem o 100% */
    width: min (80rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius:  1rem;

}
.formulario fieldset {
    border: none;
}


.formulario legend {
    margin:  0 auto 2rem auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--dark);
}
.container-input { 
    margin-bottom: 1rem;
}
.container-input label {
    color: va;
    font-weight: bold;
   margin-bottom: 0.5rem;
   display: block;
   text-align:  left;
}
.container-input input,
.container-input textarea {
    width: 100%;
    padding:  1rem;
    border-radius:  0.5rem;
    border:  .5px solid var(--secundary);
}
.enviar {
    width: 100%;
}
@media ( min-width: 768px) {
    /*  aplica grid 1 fila con dos columnas y dos filas con una columna */
    .inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        column-gap: 1rem;

    }
}
 .container-input:nth-child(3),
 .container-input:nth-child(4)
  {
    grid-column: 1/3;
 }
 .boton .enviar {
    width: 100%;

 }