:root {
    --white: #ffffff;
    --dark: #353535;
    --primary: #E09500;
    --secundary: #8FC1BE;
}

.roboto {
    font-family: "roboto", sans-serif;
    
}

html {
    font-family: "roboto", sans-serif;
    font-size: 62.5%;
}

header h1 {
    text-align: center;
    font-size: 4rem;
    color:var(--dark);
    font-weight: bolder;
}

header h1 span {
    font-size: 2rem;
}